@import './variables.scss';

* {
    border: 1px solid white;
}

.price_value {
    border: none;

    font-size: 72px;
    font-weight: 600;
}

.card {
    display: grid;
    grid-template-rows: 60% 40%;

    &:checked {
        +div {
            transform: scale(1.05);

            &::before {
                transform: scale(1.05);
            }
        }
    }

    &:disabled {
        +div {
            transform: scale(1);
        }
    }

    .card_body {
        display: grid;
        grid-template-rows: 30% 70%;

        .limit_info {
            //background-color: rgb(54, 165, 180);

            @include bodyFont;
            font-size: 24px;

            display: flex;
            justify-content: center;
            padding: 7% 0 10% 0;
        }

        .price_per_month {
            //background-color: rgb(73, 195, 211);

            @include bodyFont;
            padding: 10% 0 10% 0;
        }
    }

    .card_footer {
        display: flex;
        flex-direction: column;

        .tarif_traffic {
            background-color: rgb(236, 236, 236);

            @include footerFont;
        }

        .card_text {
            background-color: rgb(219, 219, 219);

            @include footerFont;
        }
    }
}

.scaled {
    transform: scale(1.05);
    border: 1px solid brown;
}